@import url('https://fonts.googleapis.com/css2? family= Edu+SA+Beginner & family= Oswald:wght@300 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegacion video{
    position: absolute;
    bottom: 0%;
    z-index: -1;
}
.contenido-centrado {
    display: flex;
    margin-left: 5%;
    margin-top: 25%;
    text-align: center;
    color: aliceblue;
}
.contenido-centrado h1 {
    font-size: 10vh;
    transition: 0.5s;
}
.contenido-centrado p {
    font-size: 7vh;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;  
}
.contenido-centrado h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.contenido-centrado p:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
}
.contenido-centrado a{
    text-decoration: none;
    color: aliceblue;
    font-size: 4vh;
    border: 1px white solid;
    border-radius: 50vh;
}
.daparte {
    margin-top: 10%;
    font-size: 12vh;
    color: transparent;
    -webkit-text-stroke: 2px rgb(112, 112, 112);
}
.raparte {
    margin-top: 2%;
}
footer i {
   width: 50%;
}
@media screen and (min-width:500px) and (max-width:900px)
{
    .navegacion video {
        width: auto;
        height: auto;
        top: -0%;
    }
    .contenido-centrado h1 {
        font-size: 4vh;
    }
    .contenido-centrado p {
        font-size: 3.5vh;
    }
    .contenido-centrado a{
        font-size: 1.5vh;
    }
    .contenido-centrado {
        margin-top: 28%;
    }
    .raparte img {
        width: 40%;
        height: 80%;
        margin-top: -4%;
    }
    .daparte {
        margin-top: 12%;
        font-size: 6vh;
        margin-left: 2%;
    }
}
@media screen and (min-width:901px) and (max-width: 1200px) {
    .raparte img {
        width: 60%;
        height: 120%;
    }
    .daparte {
        font-size: 8vh;
        margin-left: 2%;
    }
    .contenido-centrado h1 {
        font-size: 7vh;
    }
    .contenido-centrado p {
        font-size: 6vh;
    }
    .contenido-centrado a {
        font-size: 4vh;
    }
    .navegacion video {
        top: -0%;
    }
}
    
